/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #000;
    padding: 20px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 100px;
    height: auto;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin-right: 20px;
}

.navbar nav ul li:last-child {
    margin-right: 0;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
}

.hero {
    background-image: url('https://wallpapers.com/images/hd/netflix-background-gs7hjuwvv2g0e9fj.jpg'); /* Add your hero image URL here */
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #f5ebeb;
    background-color: #f30712;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    background-color: #f80a16;
}

.categories {
    padding: 20px 5%;
    background-color: #0e0d0d;
}

.categories h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.categories img {
    max-width: 100%;
}

footer {
    background-color: #080808;
    text-align: center;
    padding: 20px 0;
}
